---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/regions?client_id=client_id_XXXXXXXXXXXXXXXXXXX&api_key=api_key_YYYYYYYYYYYYYYYYYYYYY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      etag:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","regions":[{"id":1,"name":"New York 1"},{"id":2,"name":"Amsterdam
        1"}]}'
  recorded_at: Wed, 23 Jan 2013 14:05:59 GMT
recorded_with: VCR 2.4.0
