---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/images?client_id=client_id_XXXXXXXXXXXXXXXXXXX&api_key=api_key_YYYYYYYYYYYYYYYYYYYYY&filter=global
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      etag:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","images":[{"id":1601,"name":"CentOS 5.8 x64","distribution":"CentOS"},{"id":1602,"name":"CentOS
        5.8 x32","distribution":"CentOS"},{"id":1605,"name":"CentOS 6.0 x32","distribution":"CentOS"},{"id":1606,"name":"Fedora
        15 x64","distribution":"Fedora"},{"id":1607,"name":"Gentoo x64","distribution":"Gentoo"},{"id":1609,"name":"Ubuntu
        11.10 x32 Server","distribution":"Ubuntu"},{"id":1611,"name":"CentOS 6.2 x64","distribution":"CentOS"},{"id":1615,"name":"Fedora
        16 x64 Server","distribution":"Fedora"},{"id":1618,"name":"Fedora 16[...]
