---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/images?client_id=client_id_XXXXXXXXXXXXXXXXXXX&api_key=api_key_YYYYYYYYYYYYYYYYYYYYY&filter=my_images
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      etag:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","images":[{"id":57002,"name":"init","distribution":"Ubuntu"},{"id":57089,"name":"test1","distribution":"Ubuntu"}]}'
  recorded_at: Wed, 23 Jan 2013 21:04:46 GMT
recorded_with: VCR 2.4.0
