---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/droplets?client_id=client_id_XXXXXXXXXXXXXXXXXXX&api_key=api_key_YYYYYYYYYYYYYYYYYYYYY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      etag:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","droplets":[{"id":83102,"name":"app200.ams.nl.moriz.net","image_id":25306,"size_id":63,"region_id":2,"backups_active":true,"ip_address":"185.14.185.158","status":"active"},{"id":106265,"name":"test","image_id":25306,"size_id":66,"region_id":2,"backups_active":null,"ip_address":"192.81.220.107","status":"active"}]}'
  recorded_at: Wed, 20 Feb 2013 11:05:15 GMT
recorded_with: VCR 2.4.0
