---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/domains/new?client_id=client_id_XXXXXXXXXXXXXXXXXXX&api_key=api_key_YYYYYYYYYYYYYYYYYYYYY&name=test.do.cityhawk.ru&ip_address=192.81.213.70
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","domain":{"id":30001,"name":"test.do.cityhawk.ru"}}'
  recorded_at: Sun, 09 Jun 2013 02:35:34 GMT
recorded_with: VCR 2.5.0
