---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/domains/30163/records/206982?client_id=client_id_XXXXXXXXXXXXXXXXXXX&api_key=api_key_YYYYYYYYYYYYYYYYYYYYY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","record":{"id":206982,"domain_id":30163,"record_type":"A","name":"@","data":"192.81.213.70","priority":null,"port":null,"weight":null}}'
  recorded_at: Sun, 09 Jun 2013 15:30:49 GMT
recorded_with: VCR 2.5.0
