---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/domains/30163/records/new?client_id=client_id_XXXXXXXXXXXXXXXXXXX&api_key=api_key_YYYYYYYYYYYYYYYYYYYYY&record_type=TXT&name=foo&data=bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","record":{"id":206997,"domain_id":30163,"record_type":"TXT","name":"foo","data":"bar","priority":null,"port":null,"weight":null}}'
  recorded_at: Sun, 09 Jun 2013 15:36:11 GMT
recorded_with: VCR 2.5.0
