---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/images/1601?client_id=client_id_XXXXXXXXXXXXXXXXXXX&api_key=api_key_YYYYYYYYYYYYYYYYYYYYY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      etag:
      - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","image":{"id":1601,"name":"CentOS 5.8 x64","distribution":"CentOS"}}'
  recorded_at: Wed, 23 Jan 2013 21:14:11 GMT
recorded_with: VCR 2.4.0
